.content{
margin-left: 80px;
padding: 20px;
transition: margin-left 0.3s ease;
color: #ffffff;
}

.row {
display: flex;
flex-wrap: wrap;
gap: 20px;  
}

#isi{
margin-left: 20px;
}

.main-title {
font-size: 40px;
margin-left: 20px;
margin-top: -40px;
font-weight: bold;
}

.budget, .income, .outcome {
border-radius: 10px;
padding: 20px;
flex: 1;
min-width: 240px;
margin-left: -40px;
margin-top: 10px;
}

.label {
font-size: 30px;
font-weight: bold;
}

.budget{
margin-top: -30px;

}

.budget-info {
margin-top: -10px;
display: flex;
align-items: baseline;
line-height: 40px;
}

.amount {
font-size: 25px;
}

.currency {
font-size: 25px;  
color: #ffffff;
border-radius: 15px;
padding: 5px 10px;
text-align: center
}

.progress-container {
margin-top: 10px;
}

.progress-amount {
font-size: 25px !important;
display: block;
line-height: 18px;
color: #ffffff !important;
}

.progress-bar {
text-align: start;
background-color: #444;
border-radius: 50px !important;
position: relative;
width: 100%;
height: 10px !important; 
}

.progress-fill {
background-color: #26d126;
height: 100%;
border-radius: 5px;
} 

.d-flex {
display: flex;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    max-width: 90%;
  }

  .card {
    width: 280px;
    height: 150px;
    background-color: #2d2d2d;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    }
    
    .card .income-card {
    padding: 0;
    }
    
    .income-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    }
    
    .income-icon {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    }
    
    .income-info {
    flex-grow: 1;
    }
    
    .income-name {
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
    }
    
    .income-total {
    font-size: 20px;
    font-weight: bold;
    color: #dedede;
    margin-top: 8px;
    }
    
    .income-body {
    margin-top: 30px;
    }
    
    .income-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 13px;
    color: #eaeaea;
    }
  