.content{
margin-left: 80px;
padding: 20px;
transition: margin-left 0.3s ease;
color: #ffffff;
}

/* Baris Judul dan Elemen */
.row {
display: flex;
flex-wrap: wrap;
gap: 20px;  
}

#isi{
margin-left: 20px;
}

/* Analytics of Spending */
.main-title {
font-size: 40px;
margin-left: 20px;
margin-top: -40px;
font-weight: bold;
}

/* Budget, Income, Outcome */
.budget, .income, .outcome {
border-radius: 10px;
padding: 20px;
flex: 1;
min-width: 240px;
margin-left: -40px;
margin-top: 10px;
}

.label {
font-size: 30px;
font-weight: bold;
}

.budget{
margin-top: -30px;

}

/* Budget Info */
.budget-info {
margin-top: -10px;
display: flex;
align-items: baseline;
line-height: 40px;
}

.amount {
font-size: 25px;
}

.currency {
font-size: 25px;  
color: #ffffff;
border-radius: 15px;
padding: 5px 10px;
text-align: center
}

/* Progress Bar */
.progress-container {
margin-top: 10px;
}

.progress-amount {
font-size: 25px !important;
display: block;
line-height: 18px;
color: #ffffff !important;
}

.progress-bar {
text-align: start;
background-color: #444;
border-radius: 50px !important;
position: relative;
width: 100%;
height: 10px !important; /* Ubah nilai ini untuk meningkatkan tinggi progress bar */
}

.progress-fill {
background-color: #26d126;
height: 100%; /* Tetap 100% agar mengisi tinggi progress bar */
border-radius: 5px;
} 

/* Flexbox untuk card */
.d-flex {
display: flex;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    max-width: 90%;
  }
  